@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body,
#alta-property-management {
  background-color:#f7fbfd;
}

#alta-property-management {
  font-family:  "Montserrat", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color:#f7fbfd;
  font-size: 16px;
}

#alta-property-management h1 {
  font-size: 1.6rem;
    font-weight: 400;
}

#alta-property-management .card {

  background: #ffffff;
  box-shadow: 0 6px 30px rgba(10, 40, 80, 0.08);
  border: 0 solid white;
}

.progress-bg {
    background: linear-gradient(180deg, #fff, #f8fcff);
    border-radius: 999px;
    padding: 3px;
    border: 1px solid rgba(10, 74, 124, 0.06);
}

#alta-property-management .submit-btn {
  background: transparent;
    background-image: none;
    border: 2px solid;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem !important;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1;
    max-width: 100%;
    overflow: hidden;
    padding: 12px 20px !important;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: unset;

    background-color: rgba(29, 146, 198, 1) !important;
    border-color: rgba(29, 146, 198, 1) !important;
    color: white;
}

#alta-property-management .submit-btn:hover {
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(10, 74, 124, 1) !important;
    border-color: rgba(10, 74, 124, 1) !important;

    background-color: rgba(10, 74, 124, 1) !important;
    border-color: rgba(10, 74, 124, 1) !important;
}

#alta-property-management .card label {
    color: black;
    /* font-family: "Tenor Sans", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: .9rem;
}

#alta-property-management input[type="number"],
#alta-property-management input[type="email"],
#alta-property-management input[type="text"],
#alta-property-management input[type="tel"],
#alta-property-management input[type="date"],
#alta-property-management input[type="file"],
#alta-property-management textarea,
#alta-property-management select {
  border-radius: 0;
  border: 1px solid rgba(10, 74, 124, 1);
  border: 0.5px solid #094a7c;
  font-size: 0.9rem;
  font-weight: 400 !important;

  padding: 7px 12px;
    border-radius: 2px;
    border: 1px solid rgba(10, 74, 124, 0.12);
    background: linear-gradient(180deg, #fff, #fcfeff);
    font-size: 0.95rem;
    outline: none;
    transition: box-shadow .15s, transform .12s;
    box-shadow: 0 4px 14px rgba(14, 40, 70, 0.03);
}

/* On hover */
input[type="text"]:hover {
  border-color: #a0a0ff !important;
  box-shadow: 0 0 8px rgba(160, 160, 255, 0.4) !important;
}

/* While typing (focus) */
#alta-property-management input[type="number"]:focus,
#alta-property-management input[type="email"]:focus,
#alta-property-management input[type="text"]:focus,
#alta-property-management input[type="tel"]:focus,
#alta-property-management input[type="date"]:focus,
#alta-property-management input[type="file"]:focus,
#alta-property-management textarea:focus,
#alta-property-management select:focus {
  border-color:  rgba(29, 146, 198, 1) !important;
  box-shadow: 0 0 10px rgba(91, 91, 255, 0.6) !important;
  background-color: #f9faff !important;
}
#alta-property-management .card {
  /* border: 0.5px solid #094a7c; */
}

#alta-property-management .card  .card-header {
  /* background-color: #f2f2f2; */
  background-color: #094a7c;
  
  border-bottom: 0 solid red;
  font-size: 1.2rem;
  /* color: #0a4a7c; */
  color: white;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  padding-top: 18px;
  padding-bottom: 12px;

}

.contact-property-block label:nth-child(3) {
  margin-right: 10px;
}

.contact-property-block label:last-child {
  margin-left: 10px;
}


#alta-property-management .thanks-message {
  background-color: #28afe4;
  color: white;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 20px 15px;
}


  .btn-radio {
    margin-right: 10px;
    transition: all 0.2s ease;
  }

  .btn-radio.selected {
    display: inline-block;
    background: transparent;
    background-image: none;
    border: 0px solid;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: unset;
    background-color: rgba(29, 146, 198, 1) !important;
    color: white !important;
  }

  .btn-radio.unselected {
    display: inline-block;
    background: transparent;
    background-image: none;
    border: 0px solid;
    color: white !important;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: unset;
   background-color: rgb(127, 201, 234) !important;
    color: white !important;
  }

  .back-btn.submit-btn  {
    margin-right: 10px;
  }

  /* Progress Bar */
  .progress  {
    height: 22px !important;
    border-radius: 20px !important;
  }
  .progress-bar {
    background-color: #28afe4 !important;
    border-radius: 20px;
  }

  .card-header,
  .card-body {
  transition: opacity 0.7s ease, max-height 0.9s ease;
  overflow: hidden;
  transform: translateY(0) scale(1);
  animation: fadeSlide 1s ease forwards;
    
}

.hide {
  opacity: 0;
  max-height: 0;
  pointer-events: none; /* Optional: prevent interaction when hidden */
}

.show {
  opacity: 1;
  max-height: auto;
}

@keyframes fadeSlide {
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 1; transform: translateY(0);}
}

.card-header.hide,
.card-body.hide {
  display: none;
}

small.text-danger {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #cb3d3d !important;
}


/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width:1024px){
}
@media screen and (max-width:767px){

}
@media screen and (max-width:480px){
  #alta-property-management {
    overflow-x: hidden !important;
  }

  .progress-bar {
    font-size: 10px;
  }
  #alta-property-management .card label {
    font-size: .8rem;
  }
  #alta-property-management .card .card-header {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .card .mb-3 {
    margin-bottom: 10px !important;
  }
  #alta-property-management .submit-btn {
    font-size: 0.8rem !important;
    padding: 12px 15px !important;
  }
  #property #appartment,
  #property #bed,
  #property #sqft,
  #property #bath {
    width: 100% !important;
  }
  #property #bed,
  #property #bath {
     width: 50% !important;
  }
  small.text-danger {
    font-size: 10px !important;
  } 
  .progress.mb-5 {
    margin-bottom: 15px !important;
  }
  .btn-radio.unselected,
  .btn-radio.selected  {
    font-size: 12px;
    font-weight: 500;
    padding: 8px 18px;
  }
  #bed,
  #bath,
  #sqft {
    width: 100% !important;
  }
}
@media screen and (max-width:325px){
  
}